.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.form {
  max-width: 480px;
  height: 430px;
}

.header {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.password {
  text-align: center;
}
