.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 375px;
  gap: 16px;
  width: 100%;
  overflow-y: scroll;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orderAll {
  display: flex;
  align-items: center;
}
