::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.tabs {
  display: flex;
}

.container {
  height: 600px;
  overflow-y: scroll;
}

.list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1 0 auto;
  max-width: 272px;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 700px;
  overflow-y: scroll;
}
