::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #40404b;
}

::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.ingredientsTabs {
  display: flex;
}

.ingredientsContainer {
  height: 600px;
  overflow-y: auto;
}

.ingredientsGroupList {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}

.ingredientListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1 0 auto;
  max-width: 272px;
  cursor: pointer;
  color: #fff;
}
